<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="week5day1assignment.EditLeads"/>
      <class name="week5day1assignment.Createleads"/>
      <class name="week5day1assignment.Duplicateleads"/>
      <class name="week5day1assignment.BaseLeads"/>
      <class name="week5day1assignment.DeleteLeads"/>
      <class name="week5day1assignment.MergeLeads"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
